<div class="sign-in-bg">
  <div class="sign-design">
    <div class="sign-section ">
      <div class="sign-in ">
        <div class="" >
          <div class="">
            <img src="../../../../../assets/bg/d4d72d2f2507f1d163937f6b745b1d5c.png" alt="">
          </div>
        
          <div class="form-section">
            <div class="form-design pb-8">
              <h1 class="text-white text-3xl text-center font-semibold mt-8">Welcome Back!</h1>
              <p class="text-center text-gray-400 mt-2" style="font-size: 14px">Welcome back we missed you</p>
            <form class="max-w-sm mx-auto">
              <label for="email-address-icon " class="block mb-2 text-sm font-medium  dark:text-white text-gray-400 ">UserName</label>
              <div class="relative">
                <div class="absolute inset-y-0 start-0 flex mr-2 items-center ps-3.5 pointer-events-none ml-3">
                 <img src="../../../../../assets/bg/men.svg" alt="">
                </div>
                <input type="text" id="email-address-icon" class="bg-gray-50  text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Username">
               
              </div>
              <label for="email-address-icon" class="block mb-2  font-medium  dark:text-white text-gray-400 mt-2 text-sm">Password</label>
              <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 ml-3 pointer-events-none">
                 <img src="../../../../../assets/bg/loock.svg" alt="">
                </div>
                <input [type]="password" id="email-address-icon" class="bg-gray-50  text-white   text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="*******">
                <div class="absolute inset-y-0 w-8 flex mr-2 items-center ps-3.5 pointer-events-none right-0 cursor-pointer">
                  <img class="cursor-pointer" src="../../../../../assets/bg/eye.svg" alt="">
                
                 </div>
                 <button (click)="onClick()">
                  <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                  <img class="cursor-pointer" *ngIf="!show" src="../../../../../assets/bg/eye.svg" alt="">
                  <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                </button>
              </div>
              
              <div>
                <p class="text-right text-gray-400 my-2" style="font-size: 13px;">Forgot Password?</p>
            
                <button type="button" class="text-white w-full font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2  ">Sign In</button>
              </div>
              <div class=" flex items-center gap-4 justify-between social-login mt-12">
               <div class="left-line  w-full"></div>
            
              <p class=" w-full text-gray-400 ">Or continue with</p>
                <div class="right-line w-full"></div>
              </div>
              <div class=" flex items-center justify-center">
               <div class="brand-logo">
                <img src="../../../../../assets/bg/google.svg" alt="">
               </div>
               <div class="brand-logo">
                <img class="mt-3" src="../../../../../assets/bg/facebook.svg" alt="">
               </div>
               <div class="brand-logo">
                <img src="../../../../../assets/bg/apple.svg" alt="">
               </div>
            
                
              </div>
            </form>
            </div>
          </div>
         
        </div>
     
      
      </div>
      </div>
  </div>

</div>